http://localhost, http://127.0.0.1, http://checkit.sunbeam.cf

file_server
encode gzip

# Cache all static assets
header /static/* Cache-Control max-age=31536000

# Proxy API requests to the backend server
# reverse_proxy /api* 127.0.0.1:9000 # Does not work with try_files

# Send all requests to the root for single page applications
try_files {path} /
